/* header */
.header {
  .header--container {
    margin-top: 30px;
  }

  &__menu {
    @include flexCenter(row);
    justify-content: space-between;
    align-items: flex-start;

    .nav-bars {
      position: relative;
    }
    .header__list {
      display: flex;
      flex-direction: row;
    }
    .header__item {
      text-transform: uppercase;
      font-family: Inter;
      line-height: 17px;
      margin-right: 39px;
      position: relative;
    }
    .arr-down {
      color: rgba(7, 8, 71, 1);
      display: none;
    }

    .header__item:active {
      color: $color-blue;
    }

    .header__sub-list {
      background-color: white;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      z-index: 999;
      position: absolute;
      display: none; 
      overflow: hidden;
     
    }
    .header__sub-item {
      padding: 10px 60px 25px 20px;
      border-bottom: 1px solid $color-blue;
    }
    .header__sub-list--right {
      left: 80px;
      width: 200px;
    }
    .header__search {
      margin-right: 17px;
      height: 24px;
      width: 24px;
    }
    .header__shop {
      margin-right: 28px;
      height: 24px;
      width: 24px;
    }
    .arr--right{
      margin-left: 10px;
    }
    .nav__list {
      display: none;
      flex-direction: column;
      position: absolute;
      width: 150px;
      background-color: white;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      z-index: 999;
      top: 100%;
    }
    .btn-bars {
      font-size: 14px;
      background-color: $color-green--light;
      width: 40px;
      height: 40px;
      color: white;
      display: none;
    }
    .btn-bars i.fa-bars {
      transform: rotate(0deg);
      transition: transform 0.3s ease-in-out;
    }

    .btn-bars i.fa-plus {
      font-size: 18px;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out;
    }
  }
  &__content {
    border-radius: 32px;
    position: relative;
    margin-top: 52px;
    .arr {
      position: absolute;
      bottom: 47%;
      z-index: 999;
    }
    .arr-right {
      right: 0;
      margin-right: 17px;
    }
    .arr-left {
      left: 0;
      margin-left: 17px;
    }
    .header__info {
      background-color: $color-green--light;
      min-height: 550px;
      max-width: 1294px;
      padding-left: 56px;
      align-items: center;
      justify-content: space-around;
      display: none;
    }
    .header__info--active {
      display: flex;
    }
    .header__info--white {
      background-color: white;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
    .header__title {
      font-size: 58px;
      line-height: 70px;
    }
    .header__descr {
      font-family: Inter;
      font-size: 16px;
      line-height: 19px;
      margin-top: 18px;
    }
    .header__btn {
      margin-top: 30px;
      margin-bottom: 60px;
    }
    .header__line--container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 26px;
    }
    .header__line {
      height: 2px;
      width: 194px;
      display: block;
      margin: 10px auto;
      background-color: $color-dark-blue;
      opacity: 0.5;
    }
    .header__line:not(:last-child) {
      margin-right: 34px;
    }
    .header__line--active {
      opacity: 1;
      transform: translateY(-5px);
    }
  }
}
