@import "variables.mixins";
@media screen and (max-width: 1294px) {
  .container {
    padding: 0 10px;
  }
  /* header */
  .header {
    &__content {
      background-color: transparent;
      justify-content: center;
      .header__info {
        padding-top: 10px;
      }
    }
  }
  /* offers */
  .latest-offers {
    &__grid {
      display: block;
    }
    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: auto;
      img {
        padding: 0;
      }
      .latest-offers__content {
        position: static;
        padding: 10px;
      }
    }
    &__item-2,
    &__item-3 {
      justify-content: flex-start;
      flex-direction: row-reverse;
    }
  }
  /* most-saled */
  .most-saled {
    &__flex {
      justify-content: space-around;
    }
    &__card:not(:last-child) {
      margin-right: 0;
    }
  }
  /* footer */
  .footer {
    &__flex {
      flex-direction: column-reverse;
    }
    &__logo {
      margin-top: 15px;
    }
  }
}
/* media 992px */
@media screen and (max-width: 992px) {
  /* header */
  .header {
    position: relative;
    &__menu {
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row-reverse;
      .header__list {
        display: none;
      }
      .header__item {
        margin: 10px;
      }
      .header__icons {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        .btn-bars {
          display: block;
        }
      }
    }
    &__content {
      .header__info {
        flex-wrap: wrap;
      }
    }
    &__line:not(:last-child) {
      display: none;
    }
  }
  /* best */
  .best {
    &__flex {
      display: block;
    }
    &__card {
      display: flex;
      flex-direction: column;
      max-width: none;
      align-items: center;
      margin-top: 10px;
      margin-right: 0 !important;
    }
  }
  /* ideas */
  .ideas {
    &__content {
      display: block;
    }
    img {
      max-width: 90%;
    }
    &__text {
      text-align: center;
    }
  }
  /* search */
  .search {
    input {
      max-width: 400px;
    }
  }
  /* footer */
  .footer {
    &__menu-list {
      margin: 10px 0 0 !important;
      max-width: 250px;
    }
  }
}
/* media 768px */
@media screen and (max-width: 768px) {
  /* ideas */
  .ideas {
    &__text {
      margin-top: 20px;
      p:not(:first-child) {
        display: none;
      }
    }
    &__img {
      margin-right: 0;
    }
  }
  /* email */
  .email {
    input {
      padding: 15px;
    }
    .btn-signup {
      padding: 10px;
    }
  }
  /* footer */
  .footer {
    &__flex {
      padding-bottom: 0;
    }
  }
}
/* media 525px */
@media screen and (max-width: 525px) {
  /* header */
  .header {
    .header__title {
      font-size: 50px;
      line-height: 50px;
    }
    .header__info {
      background-color: transparent;
    }
  }
  /* search */
  .search {
    &__input {
    }
    input {
      max-width: 300px;
    }
  }
  /* footer */
  .footer {
    &__info {
      margin-top: 20px;
      p {
        padding: 0;
      }
    }
    &__descr {
      display: none;
    }
    &__menu-list {
      margin: 0 !important;
    }
    &__menu-item:not(:first-child) {
      display: none;
    }
  }
}
